.interests{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background: rgb(245, 243, 249);    
    margin: auto;
    z-index: 4;
    margin-top: -210px;
    max-width: 85%;    
    border-radius: 6px;
    margin-bottom: 150px;
}
