.digitalskill{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 120px 80px 120px;
    background: rgb(33, 10, 86);
    border: 0.1px solid rgb(224, 237, 203);
    margin: auto;
    z-index: 4;
    /* margin-top: -100px; */
    max-width: 100%;    
    /* border-radius: 6px; */
    margin-bottom: 150px;
}