.main{
    display: flex;
    
    height:max-content;
}

.forgotpassword{
    height: 74vh;   
    margin: 0 auto;
    margin-top: 200px;
}

.aside{
    width: 80%;
    /* height: 200vh; */
    background: url(../assests/images/surface-ddcLX7Iis44-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
