.main {
	display: flex;
	/* background: wheat; */
	/* height: max-content; */
}

.login-container {
	height: max-content;
	margin: 0 auto;
	margin-top: 200px;
	width: 50%;
}
.aside-container {
	width: 50%;
	background: url(../assests/images/surface-ddcLX7Iis44-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 97.5vh;
}
.aside-content {
}
.card-container {
	width: 300px;
	
}

.card{
    max-width: 500px;    
    margin: 0 auto;
}

.card-links{
    max-width: 500px;    
    margin: 0 auto;
    margin-left: 280px;
}