/* .signup{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 200px;
} */

.main{
    display: flex;
    /* background: wheat; */
    height:max-content;
}

.signup{
    height: 74vh;
    /* max-width: 50%; */
    /* width: 500px; */
    margin: 0 auto;
    margin-top: 200px;
}

.aside{
    width: 80%;
    /* height: 200vh; */
    background: url(../assests/images/surface-ddcLX7Iis44-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

